node_modules/
dist/
.angular/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
client-run.log
server/*.log
server/*.err
apk/*.apk
androind/android/app/build/
androind/www/
androind/.angular/
androind/node_modules/
client/node_modules/
server/node_modules/
